.header{
    background-color: #232323;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #bbbfca;
}

.main{
    background-color: #232323;
    padding: 2rem;
    height: auto;
}

.back{
    width: 100%;
    display: flex;
    justify-content: start;
}

a{
    text-decoration: none;
    color: #bbbfca;
}

.question{
    background-color: #bbbfca;
    padding: 1rem;
    margin: 1rem;
    border-radius: 13px;
    box-shadow: 10px 10px 8px #5e5b5b;
}