*{
    margin: 0;
    height: 100%;
}

body{
    margin: 0;
    background-color: #232323;
}

.header{
    padding: 20px;
    height: 20%;
    background-color: #232323;
    color: #bbbfca;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px rgb(20, 20, 20) dashed; 
}

.back{
    margin-top: -3rem;
    height: 2px;
}

.github{
    width: 100%;
    height: 30px;
}

.blog{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    padding: 20px;
    height: 80%;
    background-color: #232323;
    color: #bbbfca;
    display: flex;
    justify-content: center;
}

.container{
    padding: 3rem;
    width: 65%;
    height: auto;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tytul{
    text-align: center;
    width: 100%;
    height: 20%;
    border-bottom: 2px #bbbfca dashed;
}

.tresc{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    height: 70%;
    border-bottom: 2px #bbbfca dashed;
}

tr{
    width: 20px;
    display: flex;
    flex-direction: row;
    height: 10%;
}

a{
    text-decoration: none;
    color: #bbbfca;
}